


<footer id="footer" class="wow slideInDown">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12 widget widget-about">
                    About
                </div>
                <div class="col-md-3 col-xs-12 widget widget-news">
                    <h5 class="title">
                        Latest News
                    </h5>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>                        
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12 widget widget-news">
                    <h5 class="title">
                        Newsletter
                    </h5>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3 widget widget-news">
                    <h5 class="title">
                        FIND YOUR NEXT ACTIVITY!
                    </h5>
                    <ul>
                        <li><a href="@Url.Action("Index","Introduce")">Introduce</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                        <li><a href="@Url.Action("News","Home")">News</a></li>                      
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright 2015 © dinhkhai. All rights reserved. Powered by <a href="\\www.techsoftplus.com" target="_blank">techsoftplus</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>