@using travel.ViewModels;
@using travel.Common;

@model IEnumerable<travel.ViewModels.TopTourViewModel>
@foreach (var item in Model)
{
    <li class="list-group-item"><a href="@Url.Action("Index", "Tour", new { id=item.TourId, name=item.TieuDe.ToSeoUrl()})"><span>@item.TieuDe</span></a></li>
}

