@using travel.ViewModels;
@using travel.Common;

@model IEnumerable<travel.ViewModels.TopTourViewModel>
@foreach (var item in Model)
{
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Tour", new { name = item.TieuDe.ToSeoUrl(), id = item.TourId })"><span class="glyphicon glyphicon-time"></span>  @item.TieuDe </a>
    </li>
}
