
@using travel.ViewModels;
@using travel.Common;

@model IEnumerable<travel.ViewModels.TopTourCategoryViewModel>
@foreach (var item in Model)
{
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Tour", new { name = item.Title.ToSeoUrl(), id = item.CategoryId })"><span class="glyphicon glyphicon-time"></span>@item.Title <span class="badge">@item.Number</span></a>
    </li>
}