@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-section header-section--with-banner parallax-section parallax-section--header">
    <div class="parallax-image"></div>	
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            <li>
                 <a href="#">Home</a>
            </li>
            <li>Blog</li>
        </ul>
        </div>		
        <div class="header-section__content">
            <h1 class="header-section__title">Blog</h1>
            <p class="header-section__description">We share stories and give advice</p>
        </div>
    </div>
</div>

@* --- *@
<div class="container layout-container margin-top margin-bottom">
    <div class="row">
        <main class="col-md-9" role="main">
            <article id="post-80" class="blog__item margin-bottom post-80 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-safety tag-checklist tag-insurance">
                <div class="blog__item__box">
                    <div class="blog__item__sticky">
                        <div class="blog__item__sticky__bg"><i class="fa fa-bookmark"></i></div>
                        <div class="blog__item__sticky__content"><i class="fa fa-star"></i></div>
                    </div>
                    <div class="blog__item__info padding-top">
                        <h2 class="blog__item__title padding-left padding-right" itemprop="headline">
                        <a href="#">Before You Go</a>
                        </h2>
                        <ul class="article-info padding-left padding-right">
                            <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">
                                     <time datetime="2015-07-17" itemprop="datePublished">July 17, 2015</time>
                                </a>                            
                            </li>
                            <li><i class="fa fa-user"></i>
                            <a href="#">
                                <span itemprop="author">
                                <span itemprop="name">ThemeDelight</span>
                                </span>
                            </a>
                            </li>
                            <li><i class="fa fa-pencil-square-o"></i>
                            <span itemprop="articleSection">
                                <a href="#">Safety</a>
                            </span>
                            </li>
                            <li><i class="fa fa-comments-o"></i>
                            <a href="#">3 Comments</a></li>
                        </ul>
                        <div style="display:none" itemprop="dateModified">2015-08-14</div>	
                       
                        <div class="blog__item__thumbnail">
                        <a href="#">                            
                            <img src="~/images/tour/packing-1140x530.jpg" class="attachment-thumb_single wp-post-image" alt="Packing" />
                        </a>
                        </div>
                    </div>              
                    <div class="blog__item__content  padding-all">
                        <p>Moved it signs Under without can’t also shall forth subdue make fifth without you Brought. Fruit firmament creepeth image, man lights. Don’t deep give creature seed a there fill deep which winged heaven over replenish.</p>
                        <p>Bring greater fruit In evening doesn’t open. After may good there creature so which over seas created spirit male fruitful tree greater you’re dry under fowl abundantly evening blessed it bring for over above.</p>
                        <p>Them. Divided called seasons, upon make moveth divide our, saying itself. Fly fifth don’t you’ll green first brought. Female. Every won’t Bearing hath our every, created green. Female saying herb own.</p>
                    </div>

                    <div class="share-buttons" data-urlshare="#" data-imageshare="">
                    <div class="share-buttons__item share-buttons__item--googleplus" data-btntype="googlePlus">
                        <div class="box">
                        <a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                    </div>
                    <div class="share-buttons__item share-buttons__item--facebook" data-btntype="facebook">
                        <div class="box">
                        <a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                        </div>
                    <div class="share-buttons__item share-buttons__item--twitter" data-btntype="twitter">
                        <div class="box"><a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                    </div>
                    <div class="share-buttons__item share-buttons__item--stumbleupon" data-btntype="stumbleupon">
                        <div class="box">
                        <a data-total="0" class="count" href="javascript:void(0)">
                            </a>
                        </div>
                        </div>
                    <div class="share-buttons__item share-buttons__item--linkedin" data-btntype="linkedin">
                        <div class="box"><a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                        </div>
                    <div class="share-buttons__item share-buttons__item--pinterest" data-btntype="pinterest">
                        <div class="box">
                        <a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                        </div>
                    <div class="share-buttons__item share-buttons__item--vk" data-btntype="vk">
                        <div class="box">
                        <a data-total="0" class="count" href="javascript:void(0)"></a>
                        </div>
                        </div>
                    </div>
                </div>

            </article>
            <article id="post-80" class="blog__item margin-bottom post-80 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-safety tag-checklist tag-insurance">
                <div class="blog__item__box">
                    <div class="blog__item__sticky">
                        <div class="blog__item__sticky__bg"><i class="fa fa-bookmark"></i></div>
                        <div class="blog__item__sticky__content"><i class="fa fa-star"></i></div>
                    </div>
                    <div class="blog__item__info padding-top">
                        <h2 class="blog__item__title padding-left padding-right" itemprop="headline">
                            <a href="#">Before You Go</a>
                        </h2>
                        <ul class="article-info padding-left padding-right">
                            <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">
                                    <time datetime="2015-07-17" itemprop="datePublished">July 17, 2015</time>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">
                                    <span itemprop="author">
                                        <span itemprop="name">ThemeDelight</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-pencil-square-o"></i>
                                <span itemprop="articleSection">
                                    <a href="#">Safety</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-comments-o"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <div style="display:none" itemprop="dateModified">2015-08-14</div>

                        <div class="blog__item__thumbnail">
                            <a href="#">
                                <img src="~/images/tour/packing-1140x530.jpg" class="attachment-thumb_single wp-post-image" alt="Packing" />
                            </a>
                        </div>
                    </div>
                    <div class="blog__item__content  padding-all">
                        <p>Moved it signs Under without can’t also shall forth subdue make fifth without you Brought. Fruit firmament creepeth image, man lights. Don’t deep give creature seed a there fill deep which winged heaven over replenish.</p>
                        <p>Bring greater fruit In evening doesn’t open. After may good there creature so which over seas created spirit male fruitful tree greater you’re dry under fowl abundantly evening blessed it bring for over above.</p>
                        <p>Them. Divided called seasons, upon make moveth divide our, saying itself. Fly fifth don’t you’ll green first brought. Female. Every won’t Bearing hath our every, created green. Female saying herb own.</p>
                    </div>

                    <div class="share-buttons" data-urlshare="#" data-imageshare="">
                        <div class="share-buttons__item share-buttons__item--googleplus" data-btntype="googlePlus">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--facebook" data-btntype="facebook">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--twitter" data-btntype="twitter">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--stumbleupon" data-btntype="stumbleupon">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)">
                                </a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--linkedin" data-btntype="linkedin">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--pinterest" data-btntype="pinterest">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--vk" data-btntype="vk">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <article id="post-80" class="blog__item margin-bottom post-80 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-safety tag-checklist tag-insurance" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="blog__item__box">
                    <div class="blog__item__sticky">
                        <div class="blog__item__sticky__bg"><i class="fa fa-bookmark"></i></div>
                        <div class="blog__item__sticky__content"><i class="fa fa-star"></i></div>
                    </div>
                    <div class="blog__item__info padding-top">
                        <h2 class="blog__item__title padding-left padding-right" itemprop="headline">
                            <a href="#">Before You Go</a>
                        </h2>
                        <ul class="article-info padding-left padding-right">
                            <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">
                                    <time datetime="2015-07-17" itemprop="datePublished">July 17, 2015</time>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">
                                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                        <span itemprop="name">ThemeDelight</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-pencil-square-o"></i>
                                <span itemprop="articleSection">
                                    <a href="#">Safety</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-comments-o"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <div style="display:none" itemprop="dateModified">2015-08-14</div>

                        <div class="blog__item__thumbnail">
                            <a href="#">
                                <img src="~/images/tour/packing-1140x530.jpg" class="attachment-thumb_single wp-post-image" alt="Packing" />
                            </a>
                        </div>
                    </div>
                    <div class="blog__item__content  padding-all">
                        <p>Moved it signs Under without can’t also shall forth subdue make fifth without you Brought. Fruit firmament creepeth image, man lights. Don’t deep give creature seed a there fill deep which winged heaven over replenish.</p>
                        <p>Bring greater fruit In evening doesn’t open. After may good there creature so which over seas created spirit male fruitful tree greater you’re dry under fowl abundantly evening blessed it bring for over above.</p>
                        <p>Them. Divided called seasons, upon make moveth divide our, saying itself. Fly fifth don’t you’ll green first brought. Female. Every won’t Bearing hath our every, created green. Female saying herb own.</p>
                    </div>

                    <div class="share-buttons" data-urlshare="#" data-imageshare="">
                        <div class="share-buttons__item share-buttons__item--googleplus" data-btntype="googlePlus">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--facebook" data-btntype="facebook">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--twitter" data-btntype="twitter">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--stumbleupon" data-btntype="stumbleupon">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)">
                                </a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--linkedin" data-btntype="linkedin">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--pinterest" data-btntype="pinterest">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--vk" data-btntype="vk">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <article id="post-80" class="blog__item margin-bottom post-80 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-safety tag-checklist tag-insurance" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="blog__item__box">
                    <div class="blog__item__sticky">
                        <div class="blog__item__sticky__bg"><i class="fa fa-bookmark"></i></div>
                        <div class="blog__item__sticky__content"><i class="fa fa-star"></i></div>
                    </div>
                    <div class="blog__item__info padding-top">
                        <h2 class="blog__item__title padding-left padding-right" itemprop="headline">
                            <a href="#">Before You Go</a>
                        </h2>
                        <ul class="article-info padding-left padding-right">
                            <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">
                                    <time datetime="2015-07-17" itemprop="datePublished">July 17, 2015</time>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">
                                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                        <span itemprop="name">ThemeDelight</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-pencil-square-o"></i>
                                <span itemprop="articleSection">
                                    <a href="#">Safety</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-comments-o"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <div style="display:none" itemprop="dateModified">2015-08-14</div>

                        <div class="blog__item__thumbnail">
                            <a href="#">
                                <img src="~/images/tour/packing-1140x530.jpg" class="attachment-thumb_single wp-post-image" alt="Packing" />
                            </a>
                        </div>
                    </div>
                    <div class="blog__item__content  padding-all">
                        <p>Moved it signs Under without can’t also shall forth subdue make fifth without you Brought. Fruit firmament creepeth image, man lights. Don’t deep give creature seed a there fill deep which winged heaven over replenish.</p>
                        <p>Bring greater fruit In evening doesn’t open. After may good there creature so which over seas created spirit male fruitful tree greater you’re dry under fowl abundantly evening blessed it bring for over above.</p>
                        <p>Them. Divided called seasons, upon make moveth divide our, saying itself. Fly fifth don’t you’ll green first brought. Female. Every won’t Bearing hath our every, created green. Female saying herb own.</p>
                    </div>

                    <div class="share-buttons" data-urlshare="#" data-imageshare="">
                        <div class="share-buttons__item share-buttons__item--googleplus" data-btntype="googlePlus">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--facebook" data-btntype="facebook">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--twitter" data-btntype="twitter">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--stumbleupon" data-btntype="stumbleupon">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)">
                                </a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--linkedin" data-btntype="linkedin">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--pinterest" data-btntype="pinterest">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--vk" data-btntype="vk">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <article id="post-80" class="blog__item margin-bottom post-80 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-safety tag-checklist tag-insurance" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="blog__item__box">
                    <div class="blog__item__sticky">
                        <div class="blog__item__sticky__bg"><i class="fa fa-bookmark"></i></div>
                        <div class="blog__item__sticky__content"><i class="fa fa-star"></i></div>
                    </div>
                    <div class="blog__item__info padding-top">
                        <h2 class="blog__item__title padding-left padding-right" itemprop="headline">
                            <a href="#">Before You Go</a>
                        </h2>
                        <ul class="article-info padding-left padding-right">
                            <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">
                                    <time datetime="2015-07-17" itemprop="datePublished">July 17, 2015</time>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">
                                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                        <span itemprop="name">ThemeDelight</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-pencil-square-o"></i>
                                <span itemprop="articleSection">
                                    <a href="#">Safety</a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-comments-o"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <div style="display:none" itemprop="dateModified">2015-08-14</div>

                        <div class="blog__item__thumbnail">
                            <a href="#">
                                <img src="~/images/tour/packing-1140x530.jpg" class="attachment-thumb_single wp-post-image" alt="Packing" />
                            </a>
                        </div>
                    </div>
                    <div class="blog__item__content  padding-all">
                        <p>Moved it signs Under without can’t also shall forth subdue make fifth without you Brought. Fruit firmament creepeth image, man lights. Don’t deep give creature seed a there fill deep which winged heaven over replenish.</p>
                        <p>Bring greater fruit In evening doesn’t open. After may good there creature so which over seas created spirit male fruitful tree greater you’re dry under fowl abundantly evening blessed it bring for over above.</p>
                        <p>Them. Divided called seasons, upon make moveth divide our, saying itself. Fly fifth don’t you’ll green first brought. Female. Every won’t Bearing hath our every, created green. Female saying herb own.</p>
                    </div>

                    <div class="share-buttons" data-urlshare="#" data-imageshare="">
                        <div class="share-buttons__item share-buttons__item--googleplus" data-btntype="googlePlus">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--facebook" data-btntype="facebook">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--twitter" data-btntype="twitter">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--stumbleupon" data-btntype="stumbleupon">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)">
                                </a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--linkedin" data-btntype="linkedin">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--pinterest" data-btntype="pinterest">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                        <div class="share-buttons__item share-buttons__item--vk" data-btntype="vk">
                            <div class="box">
                                <a data-total="0" class="count" href="javascript:void(0)"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </main>
        <aside class="col-md-3 sidebar" role="complementary">
            <div id="categories-3" class="widget block-after-indent widget_categories">
                <h3 class="widget__title">Categories</h3>		
                <ul>
                    <li class="cat-item cat-item-16">
                        <a href="#">Destinations</a> (3)
                    </li>
                    <li class="cat-item cat-item-15">
                        <a href="#">Events</a> (1)
                    </li>
                    <li class="cat-item cat-item-17">
                        <a href="#">Reviews</a> (2)
                    </li>
                    <li class="cat-item cat-item-13">
                        <a href="#">Safety</a> (2)
                    </li>
                    <li class="cat-item cat-item-12">
                        <a href="#">Wilderness</a> (3)
                    </li>
                </ul>
            </div>
            <div id="tag_cloud-4" class="widget block-after-indent widget_tag_cloud">
            <h3 class="widget__title">Tags</h3>
            <div class="tagcloud">
                    <a href="#" class="tag-link-29" title="2 topics" style="font-size: 22pt;">Adventure</a>
                    <a href="#" class="tag-link-25" title="1 topic" style="font-size: 8pt;">Alaska</a>
                    <a href="#" class="tag-link-21" title="1 topic" style="font-size: 8pt;">Checklist</a>
                    <a href="#" class="tag-link-22" title="2 topics" style="font-size: 22pt;">Costa Rica</a>
                    <a href="#" class="tag-link-33" title="1 topic" style="font-size: 8pt;">Earth</a>
                    <a href="#" class="tag-link-26" title="1 topic" style="font-size: 8pt;">Glaciers</a>
                    <a href="#" class="tag-link-20" title="1 topic" style="font-size: 8pt;">Insurance</a>
                    <a href="#" class="tag-link-30" title="1 topic" style="font-size: 8pt;">Nature</a>
                    <a href="#" class="tag-link-31" title="1 topic" style="font-size: 8pt;">Protection</a>
                    <a href="#" class="tag-link-27" title="1 topic" style="font-size: 8pt;">Vacation</a>
                </div>
            </div><div class="block-after-indent widget-atgrid-without-title">
                <div id="tours_adventure_tours-2" class="widget block-after-indent widget_tours_adventure_tours">
                    <div class="atgrid--widget">
                        <div class="atgrid atgrid--small">
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                        <img src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall" />
                                    </a>							
                                    <a href="#" class="price-round" style="background-color:#01cb68">
                                    <span class="price-round__content">
                                        <del>
                                        <span class="amount">$2,500</span>
                                        </del> 
                                        <ins>
                                        <span class="amount">$2,200</span>
                                        </ins>
                                        </span>
                                    </a>				
                                    <div class="atgrid__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    </div>			
                                    
                                    <h4 class="atgrid__item__top__title atgrid__item__top__title--alt">
                                    <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                        <img src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall" />
                                    </a>
                                    <a href="#" class="price-round" style="background-color:#01cb68">
                                        <span class="price-round__content">
                                            <del>
                                                <span class="amount">$2,500</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$2,200</span>
                                            </ins>
                                        </span>
                                    </a>
                                    <div class="atgrid__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>

                                    <h4 class="atgrid__item__top__title atgrid__item__top__title--alt">
                                        <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                        </div><!-- .atgrid -->
                    </div><!-- .atgrid widget -->
                </div>
            </div>
        </aside>
    </div>

</div>