@{
    ViewBag.Title = "Liên hệ với chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-section header-section--with-banner parallax-section parallax-section--header">
    <div class="parallax-image"></div>	
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>
                     Contact Us
                </li>
            </ul>
        </div>		
        <div class="header-section__content">
            <h1 class="header-section__title">Contact Us</h1>
            <p class="header-section__description">We'd love to hear from you!</p>
        </div>
    </div>
</div>

@* --- *@
<div class="container layout-container margin-top margin-bottom">

    <div class="page-single">
        <main class="page-single__content" role="main">
            <div class="vc_row wpb_row vc_row-fluid margin-bottom">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="title">
                                <div class="title__subtitle">Would like to talk?</div>
                                <h3 class="title__primary">Contact Details</h3>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>If you have a story to share or a question that has not been answered on our website, please get in touch with us via contact details listed below or fill in the form on the right.</p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="contact-info__item">
                                    <div class="contact-info__item__icon"><i class="fa fa-map-marker"></i></div>
                                    <div class="contact-info__item__text">44A Hang Tre Str, Ly Thai To Ward, Hoan Kiem Dist, Ha Noi, Viet Nam</div>
                                </div>
                                <div class="contact-info__item">
                                    <a href="tel:0967535499">
                                        <span class="contact-info__item__icon">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <span class="contact-info__item__text"> (+84) 967 535 499</span>
                                    </a>
                                </div>

                                <div class="contact-info__item"><a href="mailto:sales@cozitravel.com"><span class="contact-info__item__icon"><i class="fa fa-envelope contact-info__item__icon__email"></i></span><span class="contact-info__item__text">sales@cozitravel.com</span></a></div>
                                <div class="contact-info__item"><a href="skype:dinhkhaitn"><span class="contact-info__item__icon"><i class="fa fa-skype"></i></span><span class="contact-info__item__text">dinhkhaitn</span></a></div>
                            </div>
                            <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                            <div class="social-icons social-icons--square">
                                <div class="social-icons__icons">
                                    <a href="http://facebook.com" class="social-icons__icon social-icons__icon--facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="http://twitter.com" class="social-icons__icon social-icons__icon--twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="http://googleplus.com" class="social-icons__icon social-icons__icon--google"><i class="fa fa-google-plus"></i></a>
                                    <a href="http://pinterest.com" class="social-icons__icon social-icons__icon--pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="http://linkedin.com" class="social-icons__icon social-icons__icon--linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space  visible-sm visible-xs" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                            <div class="title">
                                <div class="title__subtitle">Have a question?</div>
                                <h3 class="title__primary">Get in Touch</h3>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f162-p9-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                    @using (Html.BeginForm("SenToMail", "Home", FormMethod.Post, new { @class = "wpcf7-form" }))
                                    {     
                                        @Html.ValidationSummary(true)
                                       <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
                                        <div class="form-contact">
                                            <div class="form-contact__fields-short">
                                                <div class="form-contact__item-short">
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input required type="text" name="txthoten" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-validation-item" placeholder="name">
                                                    </span>
                                                </div>
                                                <div class="form-contact__item-short">
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input required type="email" name="txtEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-validation-item" placeholder="Email">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-contact__fields-short">
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input required type="text" name="txtTieude" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-validation-item" placeholder="subject">
                                                </span>
                                            </div>
                                            <p>
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="txtNoiDung" cols="0" rows="0" class="wpcf7-form-control wpcf7-textarea" placeholder="Message" required></textarea>
                                                </span>
                                                <br>
                                                <button type="submit" class="button button--style1 button--with-icon"><i class="fa fa-paper-plane"></i>Send</button>
                                            </p>
                                        </div>
                                    }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    @* gmap *@
                    </div>
                </div>
                </div>
            </div>
        </main>
    </div>

</div>