@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header-section padding-left padding-right">
                <div class="header-section__content header-section__content--breadcrumbs">
                    <div class="header-section__title-wrap--breadcrumbs"><h1 class="header-section__title">Tin Tức</h1></div>
                    <div class="breadcrumbs-wrap"><div class="breadcrumbs">
                        <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Tours</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* --- *@
<div class="container layout-container margin-top margin-bottom">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="atlist">
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/alaska-720x606.jpg" class="img-responsive" alt="Alaska Lake" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-american-flag" data-original-title="USA"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife"></i>
                            </a>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Alaska Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Ligula ornare amet condimentum arcu cum accumsan massa fusce dis volutpat sit dignissim</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__price atlist__item__price--variable">
                                    <a href="#">
                                        <span class="amount">$3,225</span>–<span class="amount">$3,375</span>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>6 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Kenai Fjords, AL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/alaska-720x606.jpg" class="img-responsive" alt="Alaska Lake" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-american-flag" data-original-title="USA"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife"></i>
                            </a>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Alaska Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Ligula ornare amet condimentum arcu cum accumsan massa fusce dis volutpat sit dignissim</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__price atlist__item__price--variable">
                                    <a href="#">
                                        <span class="amount">$3,225</span>–<span class="amount">$3,375</span>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>6 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Kenai Fjords, AL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/alaska-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Alaska Lake" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-american-flag" data-original-title="USA"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife"></i>
                            </a>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Alaska Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Ligula ornare amet condimentum arcu cum accumsan massa fusce dis volutpat sit dignissim</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__price atlist__item__price--variable">
                                    <a href="#">
                                        <span class="amount">$3,225</span>–<span class="amount">$3,375</span>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>6 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Kenai Fjords, AL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">                            
                            <img src="~/images/TinTuc/alaska-720x606.jpg" class="img-responsive" alt="Alaska Lake" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-american-flag" data-original-title="USA"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife"></i>
                            </a>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Alaska Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Ligula ornare amet condimentum arcu cum accumsan massa fusce dis volutpat sit dignissim</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__price atlist__item__price--variable">
                                    <a href="#">
                                        <span class="amount">$3,225</span>–<span class="amount">$3,375</span>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>6 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Kenai Fjords, AL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/alaska-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Alaska Lake" />                           
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-american-flag" data-original-title="USA"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife"></i>
                            </a>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Alaska Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Ligula ornare amet condimentum arcu cum accumsan massa fusce dis volutpat sit dignissim</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__price atlist__item__price--variable">
                                    <a href="#">
                                        <span class="amount">$3,225</span>–<span class="amount">$3,375</span>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>6 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Kenai Fjords, AL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top">
                <div class="navigation">
                    <div class="navigation__content">
                        <div class="navigation__item navigation__prev navigation__item--disable">
                            <span class="prev page-numbers">
                                <i class="fa fa-angle-left"></i>
                            </span>
                        </div>
                        <div class="navigation__items">
                            <div class="navigation__item">
                                 <span class="page-numbers current">1</span>
                            </div>
                            <div class="navigation__item">
                               <a class="page-numbers" href="#">2</a>
                            </div>
                        </div>
                        <div class="navigation__item navigation__next">
                            <a class="next page-numbers" href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar" role="complementary">
            <div class="form-block block-after-indent form-block--vertical">
                <h3 class="form-block__title">Search Tours</h3>
                <div class="form-block__description">Find your dream tour today!</div>
                <form method="get" action="#">
                    <input type="hidden" name="toursearch" value="1">
                    <div class="form-block__item form-block__field-width-icon">
                        <input type="text" placeholder="Search Tour" value="" name="s">
                        <i class="td-search-1"></i>
                    </div>
                    <div class="form-block__item form-block__field-width-icon">
                        <select name="tourtax" class="form-control">
                            <option value="" selected="selected">Destination</option>
                            <option value="brazil">Brazil</option>
                            <option value="canada">Canada</option>
                            <option value="costa-rica">Costa Rica</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                    <div class="form-block__item form-block__field-width-icon">
                        <select name="tourtax" class="form-control" data-live-search="true">
                            <option value="" selected="selected">Month</option>
                            <option value="april">April</option>
                            <option value="august">August</option>
                            <option value="december">December</option>
                            <option value="february">February</option>
                            <option value="january">January</option>
                            <option value="july">July</option>
                            <option value="june">June</option>
                            <option value="march">March</option>
                            <option value="may">May</option>
                            <option value="november">November</option>
                            <option value="october">October</option>
                            <option value="september">September</option>
                        </select>
                    </div>
                    <button type="submit" class="atbtn atbtn--full-width atbtn--primary">Tìm Tour</button>
                </form>                
            </div>
            <div class="block-after-indent widget-atgrid-without-title">
                <div id="tours_adventure_tours-4" class="widget block-after-indent widget_tours_adventure_tours">
                    <div class="atgrid--widget">
                        <div class="atgrid atgrid--small">
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                     <img width="270" height="180" src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall">
                                    </a>				
                                    <div class="atgrid__item__angle-wrap">
                                        <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>				
                                    <div class="atgrid__item__price">                                                            
                                    <a href="#" class="atgrid__item__price__button">
                                        <del>
                                        <span class="amount">$2,500</span>
                                        </del> 
                                        <ins><span class="amount">$2,200</span></ins></a></div>				
                                    <div class="atgrid__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    </div>					
                                    <h4 class="atgrid__item__top__title">
                                    <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                     <img width="270" height="180" src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall">
                                    </a>
                                    <div class="atgrid__item__angle-wrap">
                                        <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>
                                    <div class="atgrid__item__price">
                                        <a href="#" class="atgrid__item__price__button">
                                            <del>
                                                <span class="amount">$2,500</span>
                                            </del>
                                            <ins><span class="amount">$2,200</span></ins>
                                        </a>
                                    </div>
                                    <div class="atgrid__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4 class="atgrid__item__top__title">
                                        <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                       <img width="270" height="180" src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall">
                                    </a>
                                    <div class="atgrid__item__angle-wrap">
                                        <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>
                                    <div class="atgrid__item__price">
                                        <a href="#" class="atgrid__item__price__button">
                                            <del>
                                                <span class="amount">$2,500</span>
                                            </del>
                                            <ins><span class="amount">$2,200</span></ins>
                                        </a>
                                    </div>
                                    <div class="atgrid__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4 class="atgrid__item__top__title">
                                        <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                        </div><!-- .atgrid -->
                    </div><!-- .atgrid widget -->
                </div>
            </div>
            <div id="yikes_easy_mc_widget-2" class="widget block-after-indent widget_yikes_easy_mc_widget">
                <h3 class="widget__title">MailChimp Signup Form</h3>
                <section id="yikes-mailchimp-container-1" class="yikes-mailchimp-container yikes-mailchimp-container-1 ">
                    <form id="adventure-tours-1" class="yikes-easy-mc-form yikes-easy-mc-form-1  " action="" method="POST">

                        <label for="EMAIL" class="EMAIL-label yikes-mailchimp-field-required">

                            <!-- dictate label visibility -->
                            <span class="EMAIL-label">
                                Email Address
                            </span>

                            <input id="yikes-easy-mc-form-1-EMAIL" name="EMAIL" placeholder="Your Email" class="yikes-easy-mc-email " required="required" type="email" value="">

                            <!-- description -->
                            <p class="form-field-description"><small></small></p>
                        </label>

                        <!-- Honepot Trap -->
                        <input type="hidden"  id="yikes-mailchimp-honeypot" value="">

                        <!-- List ID -->
                        <input type="hidden"  id="yikes-mailchimp-associated-list-id" value="30f6464174">

                        <!-- Form that is being submitted! Used to display error/success messages above the correct form -->
                        <input type="hidden"id="yikes-mailchimp-submitted-form" value="1">

                        <!-- Submit Button -->
                        <button type="submit" class="yikes-easy-mc-submit-button yikes-easy-mc-submit-button-1 btn btn-primary ">Submit</button>				<!-- Nonce Security Check -->
                        <input type="hidden" id="yikes_easy_mc_new_subscriber">
                        <input type="hidden" name="_wp_http_referer" value="/tours/">
                    </form>
                    

                </section>
            </div>
        </div>
    </div>
</div>