@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-section header-section--with-banner parallax-section parallax-section--header">
    <div class="parallax-image"></div>	
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            <li>
                 <a href="#">Home</a>
            </li>
            <li>
                 <a href="#">Tours</a>
            </li>
            <li>
                Deals and Discounts
            </li>
        </ul>
        </div>		
        <div class="header-section__content">
            <h1 class="header-section__title">Deals and Discounts</h1>
        </div>
    </div>
</div>

@* ---- *@

<div class="container layout-container margin-top margin-bottom">
        <div class="row">
        <main class="col-md-9" role="main">
            <div class="atlist">
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">      
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>			
                        <div class="atlist__item__icons">
                        <a href="#">
                            <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                        <a href="#">
                            <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                        <a href="#">
                            <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                        <a href="#">
                            <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                            </i>
                        </a>
                        </div>			
                        <div class="atlist__item__angle-wrap">
                        <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>						
                                <div class="atlist__item__price">
                                <a href="#">
                                    <del>
                                        <span class="amount">$4,000</span>
                                    </del> 
                                    <ins>
                                    <span class="amount">$3,500</span>
                                    </ins>
                                    </a>
                                </div>					
                                	<div class="atlist__item__price-label">per person</div>						
                                <div class="atlist__item__read-more">
                                <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a></div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                        <div class="item-attributes item-attributes--style2">
                            <div class="item-attributes__item">
                            <div class="item-attributes__item__content">
                                <div class="item-attributes__item__content__item">
                                <i class="td-clock-2"></i>
                                </div>
                                <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                <span>7 days</span>
                                </div>
                                </div>
                            </div>
                            <div class="item-attributes__item">
                            <div class="item-attributes__item__content">
                                <div class="item-attributes__item__content__item">
                                <i class="td-barbell"></i>
                                </div>
                                <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                <span>8/10</span>
                                </div>
                            </div>
                            </div>
                            <div class="item-attributes__item">
                            <div class="item-attributes__item__content"><div class="item-attributes__item__content__item">
                                <i class="td-globe"></i>
                                </div>
                                <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                <span>Amazon, Brazil</span>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                                </i>
                            </a>
                        </div>
                        <div class="atlist__item__angle-wrap">
                            <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>
                                <div class="atlist__item__price">
                                    <a href="#">
                                        <del>
                                            <span class="amount">$4,000</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$3,500</span>
                                        </ins>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>8/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Amazon, Brazil</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                                </i>
                            </a>
                        </div>
                        <div class="atlist__item__angle-wrap">
                            <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>
                                <div class="atlist__item__price">
                                    <a href="#">
                                        <del>
                                            <span class="amount">$4,000</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$3,500</span>
                                        </ins>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>8/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Amazon, Brazil</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                                </i>
                            </a>
                        </div>
                        <div class="atlist__item__angle-wrap">
                            <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>
                                <div class="atlist__item__price">
                                    <a href="#">
                                        <del>
                                            <span class="amount">$4,000</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$3,500</span>
                                        </ins>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>8/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Amazon, Brazil</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                                </i>
                            </a>
                        </div>
                        <div class="atlist__item__angle-wrap">
                            <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>
                                <div class="atlist__item__price">
                                    <a href="#">
                                        <del>
                                            <span class="amount">$4,000</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$3,500</span>
                                        </ins>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>8/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Amazon, Brazil</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atlist__item margin-bottom">
                    <div class="atlist__item__image">
                        <a class="atlist__item__image-wrap" href="#">
                            <img src="~/images/TinTuc/tropical-rainforest-parrot-720x606.jpg" class="attachment-thumb_tour_box wp-post-image" alt="Tropical Rainforest Parrot" />
                        </a>
                        <div class="atlist__item__icons">
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-hotel" data-original-title="Accommodations"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-plane-1" data-original-title="Airfare included"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-ship-1" data-original-title="Cruises"></i>
                            </a>
                            <a href="#">
                                <i data-toggle="tooltip" title="" class="td-bear" data-original-title="Wildlife">
                                </i>
                            </a>
                        </div>
                        <div class="atlist__item__angle-wrap">
                            <div class="atlist__item__angle" style="background-color:#eb4293">Last Minute</div>
                        </div>
                    </div>
                    <div class="atlist__item__content">
                        <div class="atlist__item__content__items">
                            <div class="atlist__item__content__item">
                                <h2 class="atlist__item__title">
                                    <a href="#">Amazon Cruise</a>
                                </h2>
                                <div class="atlist__item__description">Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus elementum</div>
                            </div>
                            <div class="atlist__item__content__item atlist__item__content__item--alternative">
                                <div class="atlist__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><div class="atlist__item__rating-value">4 / 1 review</div>
                                <div class="atlist__item__price">
                                    <a href="#">
                                        <del>
                                            <span class="amount">$4,000</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$3,500</span>
                                        </ins>
                                    </a>
                                </div>
                                <div class="atlist__item__price-label">per person</div>
                                <div class="atlist__item__read-more">
                                    <a href="#" class="atbtn atbtn--small atbtn--rounded atbtn--light">view tour</a>
                                </div>
                            </div>
                        </div>
                        <div class="atlist__item__attributes">
                            <div class="item-attributes item-attributes--style2">
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-clock-2"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>7 days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-barbell"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>8/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-attributes__item">
                                    <div class="item-attributes__item__content">
                                        <div class="item-attributes__item__content__item">
                                            <i class="td-globe"></i>
                                        </div>
                                        <div class="item-attributes__item__content__item item-attributes__item__content__item--text">
                                            <span>Amazon, Brazil</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><aside class="col-md-3 sidebar" role="complementary">
            <div class="block-after-indent widget-atgrid-without-title">
                <div id="tours_adventure_tours-4" class="widget block-after-indent widget_tours_adventure_tours">
                    <div class="atgrid--widget">
                        <div class="atgrid atgrid--small">
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                        <img src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall" />             
                                    </a>				
                                    <div class="atgrid__item__angle-wrap">
                                    <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>				
                                    <div class="atgrid__item__price">
                                    <a href="#" class="atgrid__item__price__button"><del><span class="amount">$2,500</span>
                                        </del> <ins><span class="amount">$2,200</span>
                                        </ins>
                                        </a>
                                    </div>				
                                    <div class="atgrid__item__rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    </div>					
                                    <h4 class="atgrid__item__top__title">
                                    <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                        <img src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall" />
                                    </a>
                                    <div class="atgrid__item__angle-wrap">
                                        <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>
                                    <div class="atgrid__item__price">
                                        <a href="#" class="atgrid__item__price__button">
                                            <del>
                                                <span class="amount">$2,500</span>
                                            </del> <ins>
                                                <span class="amount">$2,200</span>
                                            </ins>
                                        </a>
                                    </div>
                                    <div class="atgrid__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4 class="atgrid__item__top__title">
                                        <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="atgrid__item">
                                <div class="atgrid__item__top">
                                    <a href="#">
                                        <img src="~/images/TinTuc/costa-rica-270x180.jpg" class="attachment-thumb_tour_widget wp-post-image" alt="Costa Rica Waterfall" />
                                    </a>
                                    <div class="atgrid__item__angle-wrap">
                                        <div class="atgrid__item__angle" style="background-color:#01cb68">Early Bird</div>
                                    </div>
                                    <div class="atgrid__item__price">
                                        <a href="#" class="atgrid__item__price__button">
                                            <del>
                                                <span class="amount">$2,500</span>
                                            </del> <ins>
                                                <span class="amount">$2,200</span>
                                            </ins>
                                        </a>
                                    </div>
                                    <div class="atgrid__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4 class="atgrid__item__top__title">
                                        <a href="#">Discover Costa Rica</a>
                                    </h4>
                                </div>
                            </div>
                        </div><!-- .atgrid -->
                    </div><!-- .atgrid widget -->
                </div>
            </div><div id="yikes_easy_mc_widget-2" class="widget block-after-indent widget_yikes_easy_mc_widget">
                <h3 class="widget__title">MailChimp Signup Form</h3>
                <section id="yikes-mailchimp-container-1" class="yikes-mailchimp-container yikes-mailchimp-container-1 ">
                    <form id="adventure-tours-1" class="yikes-easy-mc-form yikes-easy-mc-form-1  " action="" method="POST" data-attr-form-id="1">

                        <label for="EMAIL" class="EMAIL-label yikes-mailchimp-field-required">

                            <!-- dictate label visibility -->
                            <span class="EMAIL-label">
                                Email Address
                            </span>

                            <input id="yikes-easy-mc-form-1-EMAIL" name="EMAIL" placeholder="Your Email" class="yikes-easy-mc-email " required="required" type="email" value="">

                            <!-- description -->
                            <p class="form-field-description"><small></small></p>
                        </label>

                        <!-- Honepot Trap -->
                        <input type="hidden" name="yikes-mailchimp-honeypot" id="yikes-mailchimp-honeypot" value="">

                        <!-- List ID -->
                        <input type="hidden" name="yikes-mailchimp-associated-list-id" id="yikes-mailchimp-associated-list-id" value="30f6464174">

                        <!-- Form that is being submitted! Used to display error/success messages above the correct form -->
                        <input type="hidden" name="yikes-mailchimp-submitted-form" id="yikes-mailchimp-submitted-form" value="1">

                        <!-- Submit Button -->
                        <button type="submit" class="yikes-easy-mc-submit-button yikes-easy-mc-submit-button-1 btn btn-primary ">Submit</button>				
                        <!-- Nonce Security Check -->
                        <input type="hidden" id="yikes_easy_mc_new_subscriber" name="yikes_easy_mc_new_subscriber" value="ba3f87dff3">
                        <input type="hidden" name="_wp_http_referer" value="/tour-category/deals-and-discounts/">
                    </form>              

                </section>
            </div>
        </aside>
    </div>
</div>